/* styles.css */
.kakao-btn-bg {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #FEE500;
  color: #191919;
  border: none;
  width: 100%;  
  max-width: 400px; 
  border-radius: 6px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  
  /* 여기서 로고를 배경으로 깔아요 */
  background-image: url('../assets/kakao.jpg');
  background-repeat: no-repeat;
  background-position: 16px center; /* 버튼 왼쪽에서 16px 떨어진 세로 중앙 */
  background-size: 60px 50px;
}
